@import "node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: Raleway;
  src: url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwIYqWqZPAA.woff2);
  font-style: normal;
  font-weight: 300;
}


$theme-colors: (
  "primary": #009999,
  "secondary": #45e5e5,
  "tertiary": #33aaaa,
  "light": #00e5e5,
  "dark": #006666,
  "danger": #ff4136,
  "white": #f8f9fa,
  "gray": #55585c,
  "black": #343a40
);

.navpane {
  background-color: #ffffff;
  height: 100%;
  //remove white full-height pane if we're portrait
  @media (max-width: 575.98px) { 
    height: 0;
   }
}
.modules {
  height: 10px;
  @media (max-width: 575.98px) { 
    height: 10px;
  }
}

body {
  background-color: map-get($theme-colors, "gray");
}
.card {
  background-color: map-get($theme-colors, "white");
  color: map-get($theme-colors, "dark");
  border: 2px solid map-get($theme-colors, "white");
  
}
.card-header {
  background-color: map-get($theme-colors , "primary");
  color: map-get($theme-colors, "white" );
  font-family: Raleway;
}

.btn {
  background-color: map-get($theme-colors, "primary");
  border: map-get($theme-colors, "secondary");
  font-family: Raleway;
}

.btn:hover {
  background-color: map-get($theme-colors, "tertiary");
}

.btn:focus {
  background-color: map-get($theme-colors, "tertiary");
}

.container-fluid {
  background-color: map-get($theme-colors , "tertiary" );
}
.list-group-item.active {
  background-color: map-get($theme-colors , "gray" );
  border: 0px;
  border-left: 0.4rem solid map-get($theme-colors , "primary" );
  font-weight: bold;
  z-index: 1100;
}


//hide spinners in number fields
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
