@import "node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: Raleway;
  src: url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwIYqWqZPAA.woff2);
  font-style: normal;
  font-weight: 300;
}


$theme-colors: (
  "primary": #009999,
  "secondary": #45e5e5,
  "tertiary": #33aaaa,
  "light": #00e5e5,
  "dark": #006666,
  "danger": #ff4136,
  "white": #f8f9fa,
  "gray": #55585c,
  "black": #343a40
);


body {
  background-color: map-get($theme-colors, "gray");
}

.navbar {
  background-color: map-get($theme-colors, "primary");
  border-bottom: .3rem solid map-get($theme-colors, "dark");
  width: 100%;
}

.card-header {
  background-color: map-get($theme-colors , "primary");
  color: map-get($theme-colors, "white" );
  font-family: Raleway;
}

.btn {
  color: map-get($theme-colors , "white" );
  background-color: map-get($theme-colors, "primary");
  border: map-get($theme-colors, "secondary");
  font-family: Raleway;
}

.btn:hover {
  background-color: map-get($theme-colors, "tertiary");
}

.btn:focus {
  background-color: map-get($theme-colors, "tertiary");
}

.container-fluid {
  background-color: map-get($theme-colors , "tertiary" );
}

.module {
  background-color: map-get($theme-colors, "white");
  color: map-get($theme-colors, "dark");
  border: 2px solid map-get($theme-colors, "white");
}

.module-header-logo {
  height: 3rem;
}


//Medium devices
@include media-breakpoint-down(md) {
  .module-header-title {
    font-size: 32px;
  }
}

//small devices
@include media-breakpoint-down(sm) {
  .module-header-title {
    font-size: 24px;
  }
  .module-header-logo{
    height: 32px;
  }
}

//For extra-small devices
@include media-breakpoint-down(xs) {
  .module-header-title {
    font-size: 16px;
  }
  .module-header-logo{
    height: 32px;
  }
}

.canvas {
  //background-color: map-get($theme-colors, "primary" );
  height: 100%
}

.canvas-container {
  border: solid 2px map-get($theme-colors, "gray" );
  background-color: map-get($theme-colors, "gray" );
  border-radius: 3px;
  padding: 10px;
  width: 30vh;
  height: 30vh;

}

.br187-type-badge{
  float: right;
  margin-top: 1rem;;
}

//hide spinners in number fields
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}


