@import "node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: Raleway;
  src: url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwIYqWqZPAA.woff2);
  font-style: normal;
  font-weight: 300;
}


$theme-colors: (
  "primary": #009999,
  "secondary": #45e5e5,
  "tertiary": #33aaaa,
  "light": #00e5e5,
  "dark": #006666,
  "danger": #ff4136,
  "white": #f8f9fa,
  "black": #343a40
);

.card {
  background-color: map-get($theme-colors, "white");
  color: map-get($theme-colors, "dark");
}
.card-header {
  background-color: map-get($theme-colors , "primary");
  color: map-get($theme-colors, "white" );
  font-family: Raleway;
}

.btn {
  background-color: map-get($theme-colors, "primary");
  border: map-get($theme-colors, "secondary");
  font-family: Raleway;
}

.btn:hover {
  background-color: map-get($theme-colors, "tertiary");
}

.btn:focus {
  background-color: map-get($theme-colors, "tertiary");
}

.list-group-item.active {
  background-color: map-get($theme-colors, "primary");
  border: 0px
}
